<div class="top-wrapper">
  <div class="container">
    <div class="sliders">
      <div class="slider">
        <span class="button-left"><i class="fa fa-caret-left" aria-hidden="true"></i></span>
        <span class="button-right"><i class="fa fa-caret-right" aria-hidden="true"></i></span>
      </div>
    </div>
    <div class="all-news">
      <div class="twitters">
        <h1>製作者ツイッター</h1>
      </div>
      <div class="updates">
        <h1>更新履歴</h1>
        <!-- rubyループで取り出し -->
        <li><span class="update-date"></span class="update-content"><span></span></li>
        <!-- ここまで -->
        <a class="another-screen" href="#">それ以外の記事</a>
      </div>
      <div class="news">
        <h1>NEWS</h1>
        <!-- rubyループで取り出し -->
        <small></small>
        <p></p>
        <!-- ここまで -->
        <a class="another-screen" href="#">それ以外の記事</a>
      </div>
    </div>
    <div class="poems">

    </div>
  </div>
</div>
