<div class="home-wrapper">
  <div class="home-top-wrapper">
    <div class="home-top-content">
      <div class="container">
        <h1>あなたの魅力を再発見してみませんか？</h1>
      </div>
    </div>
  </div>
  <div class="home-middle-wrapper">
    <div class="middle-wrapper">
      <div class="middle-content">
        <h2>特徴１</h2>
        <p>特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細</p>
        <p>特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細</p>
      </div>
    </div>
    <div class="middle-wrapper">
      <div class="middle-content">
        <h2>特徴2</h2>
        <p>特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細</p>
        <p>特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細</p>
      </div>
    </div>
    <div class="middle-wrapper">
      <div class="middle-content">
        <h2>特徴3</h2>
        <p>特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細</p>
        <p>特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細</p>
      </div>
    </div>
    <div class="middle-wrapper">
      <div class="middle-content">
        <h2>特徴4</h2>
        <p>特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細</p>
        <p>特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細特徴詳細</p>
      </div>
    </div>

  </div>
  <div class="bottom-wrapper">
    <div class="bottom-content">
      <div class="container">
        <h1>さぁ、あなたも、次の次元へ</h1>
        <p>To the era when everyone is free</p>
      </div>
    </div>
  </div>
</div>
