<div class="update-wrapper">
  <div class="container">
    <div class="update-content">
      <h1></h1>
      <%=form_tag "" do%>
      <input type="text" name="name" value="">
      <select name="sex">
      <option value="0">男（♂）</option>
      <option value="1">女（♀）</option>
      </select>
      <input type="text" name="age" value="">
      <input type="date" name="birthday" value="">
      <input type="text" name="height" value="">
      <input type="text" name="width" value="">
      <input type="text" name="street_address" value="">
      <input type="text" name="original_work" value="">
      <input type="text" name="race" value="">
      <textarea name="description" rows="8" cols="80"></textarea>
      <input type="text" name="email" value="">
      <input type="text" name="password" value="">
      <input type="text" name="user_id" value="">
      <input type="text" name="twitter" value="">
      <input type="text" name="homepage" value="">
      <%end%>
    </div>
  </div>
</div>
