<div class="index-wrapper">
  <div class="container">
    <div class="index-content">
      <%=form_tag "/",class:"form_test" do%>
        <input type="text" name="" value="">
        <input type="submit" name="" value="検索">
      <%end%>
      <%=form_tag "/",class:"sort_form" do%>
        <select name="sort_box" required>
          <option value="update">更新日</option>
          <option value="follow">フォロー人数</option>
        </select>
      <%end%>
      <div class="clear">
      </div>
      <p class="search-number">X件見つかりました</p>
      <p class="search-number">yで検索</p>
      <div class="clear"></div>
        <ul>
          <%for i in 0...@user.size do%>
            <li>
              <%=link_to "#{@user[i].name}" , "/user/#{@user[i].id}/show" %>
            </li>
          <%end%>
        </ul>
        <!--
@user[x].y
x=0,1,2,3...
y=name / email / description
image / password / user_id / created_at updated_at

name  email  description  image  password  user_id  sex  original_work
race  height width  street_address  twitter  facebook  link_icon
created_at  updated_at

       -->
      </div>
    </div>
  </div>
</div>
<!--hogehoge in write  -->
