
// color
@mixin brown-link-button {
  color:rgb(67,27,0);
  text-decoration: none;
}
@mixin mypage-font-color{
  color:rgb(67,27,0);

}
@mixin mypage-sub-character-background-color{
  background-color:rgba(255,249,214,1);
}
@mixin mypage-change-chracter-background{

}
@mixin mypage-button-color{
  background-color:rgba(214,106,0,1);
}
@mixin mypage-list-wrapper{
  background-color:rgb(189,156,112);
}
@mixin real-world-black{
  background-color:rgb(67,27,0);
}
@mixin scroll-hidden($set){
  .#{$set}::-webkit-scrollbar{
    display:none;
  }
}
@mixin character-lists($height,$width){
  margin-top:10px;
  margin-left:5px;
  height:#{$height};
  width:#{$width};
  @include real-world-black;
  display:inline-block;
}
