// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-wrapper{
  background-image:url("/forest.png");
  background-position:center;
  background-size: 100%;
  background-attachment: fixed;
  padding:30px 0;
  .sliders{
    height:500px;
    width:100%;
    background-image:url("/back1.jpg");
    background-size: cover;
    padding-top:3%;
    .slider{
      height:90%;
      width:80%;
      margin:0 auto;
      background-color:rgba(255,255,255,.5);
      border:5px solid lightgreen;
    }
  }
  .news{
    height:800px;
    text-align:center;
    .twitters,.updates,.colum{
      background-color:white;
      display:inline-block;
      height:90%;
      box-sizing: border-box;
      margin:0 15px;
      margin-top:5%;
    }
    .twitters{
      width:20%;
    }
    .updates{
      width:50%;
    }
    .colum{
      width:20%;
    }
  }
}
