/*
myroom
relation
history
direct_mail
favorite
character_name_history
hide_setting
create_new
other_changes
block_user
following_user
*/

@import "functions";
@include scroll-hidden("mypage-list");
.mypage-wrapper{
  height:800px;
  @include brown-link-button;
  position:relative;
  .mypage-icon{
    position:fixed;
    top:calc(90px - 50px);
    left:5px;
    height:100px;
    width:100px;
    z-index:15;
    border-radius:50%;
    background-color:orange;
  }
  .mypage-list,.mypage-content{
    box-sizing:border-box;
  }

  .mypage-list{
    overflow: scroll;
    height:800px;
    width:300px;
    text-align:center;
    @include mypage-list-wrapper;
    float:left;
    padding-top:50px;
    .center-box{
      width:250px;
      margin:0 auto;
      text-align:left;
      .image-box{
        height:250px;
        width:250px;
        @include real-world-black;
        display:block;
        margin:10px auto;
      }
      .sub-character-content > *{
        -webkit-transform: translateZ(0px);
      }
      .sub-character::-webkit-scrollbar {
        display: none;
        height: 0 !important;
      }
      .sub-characters{
        position:relative;
        width:250px;
        margin:0 auto;
        .button-left,.button-right{
          position:absolute;
          top:50px;
          transform:translateY(-50%);
          z-index:9;
          font-size:90px;
          cursor: pointer;
        }
        .button-left{
          left:-25px;
        }
        .button-right{
          right:-25px;
        }
      }
      .sub-character{

        box-sizing: border-box;
        height:100px;
        padding:10px 15px 0;
        @include mypage-sub-character-background-color;
        text-align:left;
        font-weight:bold;
        overflow: hidden;
        .sub-character-content{

          .character-list{
            margin-top:10px;
            margin-left:5px;

            height:50px;
            width:50px;
            @include real-world-black;
            display:inline-block;
          }
        }
      }
      .change-character{
        text-decoration: none;
        color:white;
        @include mypage-button-color;
        display:inline-block;
        margin:15px 0;
        padding:3px 3px;
        border-radius:3px;
      }
      .profile-button{
        display:block;
        width:120px;
        padding:5px 10px;
        @include mypage-sub-character-background-color;
        text-align:center;
        a{
          @include brown-link-button;
        }
      }
      .follow-user{
        @include brown-link-button;
        margin:50px 0 30px;
        display:inline-block;
      }
      ul{
        li{
          border-left:2px solid rgb(67,27,0);
          a{
            margin-left:10px;
            @include brown-link-button;
            vertical-align: middle;
          }
        }
      }
    }
    // center-box-end
    padding-bottom:60px;
  }
  // mypage-list-end
  .mypage-content{
    height:calc(100% - 90px);
    width:calc(100% - 300px);
    float:right;
    position:fixed;
    top:90px;
    right:0;
    background-image:url("/paper_wide.jpg");
    background-size:cover;
  }

  .mypage-contents{
    position:absolute;
    top:0;
    right:0;
    height:800px;
    width:calc(100% - 300px);
    overflow: scroll;
  }
}
@include scroll-hidden("mypage-contents");


.myroom-wrapper{
  padding-bottom:30px;
  .myroom-content{
    @include mypage-font-color;
    h1{
      margin-top:30px;
      font-size:48px;
      font-weight:normal;
      margin:30px 55px 60px;
      padding:0;
    }
    .build-room-wrapper{
      @include mypage-list-wrapper;
      height:200px;
      margin:30px 60px;
      width:80%;
      border:3px solid rgb(67,27,0);
      .build-room-content{
        .left-content{
          text-align: center;
          box-sizing: border-box;
          width:170px;
          height:200px;
          display:inline-block;
          @include mypage-change-chracter-background;
          img{
            margin-top:10px;
            height:150px;
            width:150px;
            border-radius:50%;
            @include real-world-black;
            display: inline-block;
          }
          p{
            text-align:center;
            margin:10px;
          }
        }
        .right-content{

          box-sizing: border-box;
          margin:0 auto;
          width:calc(100% - 180px);
          display:inline-block;
          vertical-align: top;
          .title{
            text-align:center;
            box-sizing: border-box;
            margin:5px auto;
            height:40px;
            line-height:40px;
            font-size:24px;
            font-weight:bold;
            @include mypage-sub-character-background-color;
            display:inline-block;
            width:100%;
          }
          .build-room-description{
            box-sizing: border-box;
            height:140px;
            margin-top:5px;
            position:relative;
            @include mypage-sub-character-background-color;
            .build-room-setting{
              border-bottom:3px solid rgb(67,27,0);
              height:30px;
              line-height:30px;
              width:95%;
              margin:0 auto;
            }
            .room-description{
              width:95%;
              margin:0 auto;
              box-sizing: border-box;
              margin-top:5px;
              span{

              }
              .description-all{
                color:rgb(67,27,0);
              }
              .description-all{

              }
              .bottom-right{
                position:absolute;
                bottom:5px;
                right:10px;
                .room-active-user{

                }
                .room-date{

                }
                .room-repote{
                  background-color:red;
                  color:white;
                  display:inline-block;
                  padding:5px 10px;
                  text-decoration: none;
                  border-radius:50%;
                  font-weight: bold;
                }
              }
            }
          }

        }
      }
    }
  }
}
.relation-wrapper{
  .relation-content{
    .character-bord{
      height:180px;
      width:calc(100vw - 300px);
      position:absolute;
      right:0;
      top:0;
      @include mypage-list-wrapper;
      box-sizing: border-box;
      padding-top:20px;
      padding-left:20px;
      .sub-character{
        display:inline-block;
        box-sizing: border-box;
        height:140px;
        position:relative;
        @include mypage-sub-character-background-color;
        text-align:left;
        font-weight:bold;
        overflow: hidden;
        text-align:center;
        padding-top:10px;
        width:350px;
        .button-left,.button-right{
          position:absolute;
          top:50px;
          transform:translateY(-50%);
          z-index:9;
          font-size:90px;
          cursor: pointer;
        }
        .button-left{
          left:-25px;
        }
        .button-right{
          right:-25px;
        }
        .sub-character-content{
          margin-left:-20px;
          .character-list{
            @include character-lists(50px,50px);
          }
          .character-list-big{
            @include character-lists(100px,100px);
          }
        }
      }
    }
  }
}

.history-wrapper{
  .history-content{

  }
}
.direct_mail-wrapper{
  .direct_mail-content{

  }
}
.favorite-wrapper{
  .favorite-content{

  }
}
.character_name_history-wrapper{
  .character_name_history-container{

  }
}
.hide_setting-wrapper{
  .hide_setting-content{

  }
}

.create_new-wrapper{
  .create_new-content{

  }
}
.other_changes-wrapper{
  .other_changes-content{

  }
}
.block_user-wrapper{
  .block_user-content{

  }
}

.following_user-wrapper{
  .following_user-content{

  }
}
