/*
myroom
relation
history
direct_mail
favorite
character_name_history
hide_setting
create_new
other_changes
block_user
following_user
*/

@import "functions";
.mypage-list::-webkit-scrollbar{
  display:none;
}
.mypage-wrapper{
  height:800px;
  position:relative;
  @include brown-link-button;
  .mypage-icon{
    position:fixed;
    top:calc(90px - 50px);
    left:5px;
    height:100px;
    width:100px;
    z-index:15;
    border-radius:50%;
    background-color:orange;
  }
  .mypage-list,.mypage-content{
    box-sizing:border-box;
  }

  .mypage-list{
    position:absolute;
    overflow: scroll;
    top:0;
    left:0;
    height:800px;
    width:300px;
    text-align:center;
    @include mypage-list-wrapper;
    float:left;
    padding-top:50px;
    .center-box{
      width:250px;
      margin:0 auto;
      text-align:left;
      .image-box{
        height:250px;
        width:250px;
        @include real-world-black;
        display:block;
        margin:10px auto;
      }
      .sub-character-content > *{
        -webkit-transform: translateZ(0px);
      }
      .sub-character::-webkit-scrollbar {
        display: none;
        height: 0 !important;
      }
      .sub-characters{
        position:relative;
        width:250px;
        margin:0 auto;
        .button-left,.button-right{
          position:absolute;
          top:50px;
          transform:translateY(-50%);
          z-index:9;
          font-size:90px;
          cursor: pointer;
        }
        .button-left{
          left:-25px;
        }
        .button-right{
          right:-25px;
        }
      }
      .sub-character{

        box-sizing: border-box;
        height:100px;
        padding:10px 15px 0;
        @include mypage-sub-character-background-color;
        text-align:left;
        font-weight:bold;
        overflow: hidden;
        .sub-character-content{
          .character-list{
            margin-top:10px;
            margin-left:5px;
            height:50px;
            width:50px;
            @include real-world-black;
            display:inline-block;
          }
        }
      }
      .change-character{
        text-decoration: none;
        color:white;
        @include mypage-button-color;
        display:inline-block;
        margin:15px 0;
        padding:3px 3px;
        border-radius:3px;
      }
      .profile-button{
        display:block;
        width:120px;
        padding:5px 10px;
        @include mypage-sub-character-background-color;
        text-align:center;
        a{
          @include brown-link-button;
        }
      }
      .follow-user{
        @include brown-link-button;
        margin:50px 0 30px;
        display:inline-block;
      }
      ul{
        li{
          border-left:2px solid rgb(67,27,0);
          a{
            margin-left:10px;
            @include brown-link-button;
            vertical-align: middle;
          }
        }
      }
    }
    // center-box-end
    padding-bottom:60px;
  }
  // mypage-list-end
  .mypage-content{
    text-align:center;
    height:800px;
    width:calc(100% - 300px);
    background-image:radial-gradient(red,green,blue,yellow,brown,red,green,blue,yellow,brown,red,green,blue,yellow,brown,red,green,blue,yellow,brown,red,green,blue,yellow,brown);
    float:right;
  }
}


.myroom-wrapper{
  .myroom-content{

  }
}
.relation-wrapper{
  .relation-content{

  }
}
.history-wrapper{
  .history-content{

  }
}
.direct_mail-wrapper{
  .direct_mail-content{

  }
}
.favorite-wrapper{
  .favorite-content{

  }
}
.character_name_history-wrapper{
  .character_name_history-container{

  }
}
.hide_setting-wrapper{
  .hide_setting-content{

  }
}

.create_new-wrapper{
  .create_new-content{

  }
}
.other_changes-wrapper{
  .other_changes-content{

  }
}
.block_user-wrapper{
  .block_user-content{

  }
}

.following_user-wrapper{
  .following_user-content{

  }
}
