// user.scss 並び順
//
// login-form
// index-wrapper
// show-wrapper
// modal-wrapper
// new-wrapper
// create-confirm-wrapper



// login-wrapper

.login-form{
  height:800px;
  background-image:url("/forest.png");
  background-position:center;
  background-size: 100%;
  background-attachment: fixed;
  text-align:center;
  color:white;
  padding-top:30px;
  form{
    text-align:center;
    .lefts,.rights{
      margin:30px 0;
    }
    .lefts{
      float:left;
      width:30%;
      vertical-align: middle;
      font-size: 24px;
      text-align:right;
      margin-right:15px;
    }
    .rights{
      float:left;
      width:40%;
      vertical-align: middle;
      text-align:left;
      height:30px;
      margin-left:15px;

    }
    .submit{
      padding:15px;
      font-weight:bold;
    }
  }
  .cleate-link{
    color:black;
    text-decoration: none;
    padding:10px 15px;
    background-color:white;
    display:inline-block;
    margin-top:60px;
    float:right;
    margin-right:60px;
  }
}
.clear{
  clear:both;
}

// index-wrapper

.index-wrapper{
  width:100%;
  background-image:url('/profile_back.jpg');
  background-attachment: fixed;
  height:1600px;
  background-size:100vw;
  box-sizing:border-box;
  text-align:center;
  .index-content
  {
    // ここから
    padding:0 330px;
    color:brown;
    padding-top:180px;
    height:1400px;
    margin-top:-20px;
    background-image: url("/binder.png");
    background-position: top;
    background-size:800px;
    background-repeat: no-repeat;
    .form_test,.sort_form{
      input,select,option{
        color:brown;
        font-weight:bold;
        background-color:transparent;
        border:3px solid brown;
        margin:0 -1.5px
      }
      input{
        padding:5px;
        float:left;
      }
      input[type="text"]{
        width:300px;
      }
      input[type="submit"]{
        cursor: pointer;
      }select{
        padding:4px;
        margin-left:5px;
        float:right;
        width:190px;
      }
    }
    .search-number{
      font-size:14px;
      text-align:left;
      margin:10px 30px 0 0;
      float:left;
    }
    ul{
      margin-top:30px;
      li{
        height:130px;
        width:100%;
        border:5px solid brown;
        margin:15px auto;
      }
    }
    // ここまで
  }
}

// show-wrapper

.show-wrapper{
  color:brown;
  font-weight: bold;
  margin:100px 0;
  .show-content{
    .show_tag{
      margin:0 auto;
      border:5px solid brown;
      margin:10px;
      padding:15px 25px;
      .tag-top{
        margin-right:25px;
      }
      .show_tags{
        width:85%;
        display:inline-block;
      }
      .tag-name:not(:last-child):after{
        content: " /";
      }
    }
    .show-middle{
      margin:10px;
      height:430px;
      .profile-image{
        border:5px solid brown;
        padding:5px;
        height:400px;
        width:40%;
        float:left;
        img{
          height:400px;
          margin:0 auto;
          display:block;
        }
      }
      .profile{
        width:55%;
        height:400px;
        border:5px solid linear-gradient(aqua,blue);
        display:inline-block;
        padding:5px;
        float:right;
        padding:5px;
        .profile-border{
          border-bottom:2px solid brown;
          padding:5px;

          .profile-name{
            font-size:24px;
            line-height:1.2em;
            height:60px;
            margin-left:24px;
          }
          .profile-item{
            margin-left:25px;
            line-height:40px;
          }
          .profile-last{
            line-height:60px;
            margin-left:25px;
          }
        }
        .height-60{
          height:60px;
          .profile-link{
            color:brown;
            background-color:lightgreen;
            margin:0 15px;
            font-size:32px;
            padding:5px 10px;
            line-height:50px;
            text-decoration:none;
            cursor:pointer;
          }
        }
        .height-40{
          height:40px;
          font-size:24px;
        }
        .height-40,.height-60{
          box-sizing: border-box;
        }
      }
    }
    .free-space{
      padding:10px 30px;
      height:600px;
      margin:10px;
      border:5px solid brown;
      font-size:24px;
      position:relative;
      .description{
        line-height:60px;
        width:100%;
      }
      span{

        overflow:hidden;
        display:inline-block;
      }
      .overflows{
        text-overflow: ellipsis;
        white-space: nowrap;
        width:100%;
      }
      .link-box{
        line-height:2em;
        background-color:white;
        position:absolute;
        bottom:2px;
        right:30px;
        width:60%;
        height:100px;
        border:5px solid brown;
      }
    }
    .characters-box{
      .characters,.frends{
        border:5px solid brown;
        margin:15px 10px;
        padding:30px;
        .left,.right{
          box-sizing: border-box;
          padding:10px;
        }
        .left{
          width:30%;
          text-align:right;
          span{
            float:left;
            margin-right:60px;
          }
        }
        .right{
          width:70%;
        }
      }
      .characters{

      }
      .frends{
        font-size:36px;
        padding-left:10px;
        .frend-user{
          img{
            height:100px;
            width:100px;
            margin:-30px 15px 0;
            box-shadow:3px 3px 3px 3px black;
          }
        }
      }

    }
    .update-link{
      color:brown;
      font-size:24px;
      text-decoration:none;
      margin:0;
      padding:0;
      text-align:right;
    }

  }
}


// modal-wrapper
.off-modal{
  display:none;
}
#x-button{
  position:absolute;
  right:10px;
  top:10px;
  font-size:24px;
  &:hover{
    cursor:pointer
  }
}
.modal-wrapper{
  position:fixed;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  z-index:10;
  background-color:rgba(0,0,0,.4);
  .modal-content{
    position:relative;
    height:80%;
    width:50%;
    margin:10vh auto;
    box-sizing: border-box;
    overflow: scroll;
    .frend-content{
      background-color:white;
      text-align:center;
      color:brown;
      padding-top:30px;
      padding-bottom:30px;
      h1{
        border-bottom:4px solid brown;
        width:70%;
        margin:0 auto;
        margin-bottom:30px;
      }
      .frend-image{
        height:200px;
        width:80%;
        box-sizing: border-box;
        border:3px solid #7fff00;
        margin:0 auto;
      }
      .frend-message{
        height:150px;
        width:80%;
        border:3px solid brown;
        margin:5px auto;
        text-align:left;
        padding:10px;
        .left{
          text-align:center;
          width:100px;
          display:block;
          float:left;
          height:100%;
          img{
            height:100px;
            width:100px;
            display:block;
          }
          p{
            width:100px;
            margin-top:15px;
          }
        }
        .right{
          width:calc(100% - 100px);
          display:block;
          float:right;
          height:100%;
        }
      }
    }
  }
}

// create-wrapper #スペルミスってる(汗)

.new-wrapper{
  height:1200px;
  background-image:url("/forest.png");
  color:white;
  padding-top:30px;
  text-align:center;
  font-weight:bold;
  .container{
    .new-content{
      .submit{
        padding:5px 10px;
        font-size:18px;
      }
      .span-box{
        display:inline-block;
        width:80%;
        margin:10px auto;
        .left{
          display:inline-block;
          margin-right:10px;
          text-align:right;
          width:10%;
          box-sizing: border-box;
          vertical-align: middle;
          font-size:24px;
        }
        input,textarea{
          display:inline-block;
          margin-left:10px;
          text-align:left;
          box-sizing: border-box;
          width:40%;
          vertical-align: middle;
          border:1px solid black;
        }
      }
      .input-text input{
        height:25px;
      }
      .selects select{
        margin-left:10px;
      }
    }
  }
}

// confirm-wrapper

.create-confirm-wrapper{
  background-image:url("/forest.png");
  color:white;
  font-size:24px;
  font-weight:bold;
  padding-top:30px;
  form{
    span{
      margin:5px 0;
    }
    .left{
      width:45%;
      display:inline-block;
      text-align:right;
      margin-right:10px;
    }
    .right{
      margin-left:10px;
      display:inline-block;
      width:45%;
    }
    .submit_image{
      height:100px;
      display:block;
      margin:15px auto;
    }
    .kiyaku{
      height:500px;
      overflow: scroll;
      background-image:radial-gradient(rgba(0, 0, 0,.5),rgba(0, 0, 0,.7),rgba(0, 0, 0,.8));
      h1{
        text-align:center;
      }
      small{
        margin-bottom:30px;
        font-size:14px;
        color:rgba(255,255,255,.7);
      }
      p{
        margin-top:30px;
        text-align:center;
      }
    }
  }
}
.create-wrapper{
  height:100vh;
  background-image:url("/forest.png");
  a{
    padding:5px;
    margin:5px;
    text-decoration:none;
    font-weight:bold;
    color:black;
    background-color:rgba(255,255,255,.4);
    display:inline-block;
    text-align:center;
    border-radius:10%;
    box-shadow:3px 3px 3px black;
    &:hover{
      background-color:rgba(255,255,255,.5);
    }
    &:active{
      position:relative;
      box-shadow:none;
      bottom:-3px;
      left:-3px;
    }
  }
}
