<!DOCTYPE html>
<html>
  <head>
    <title>MyT</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="container">
        <a id="top-link" href="/">myTbase</a>
        <div class="links">
          <a class="link" href="/user/index">キャラ一覧へ</a>
          <a class="link" href="/borad/index">掲示板一覧へ</a>
          <a class="link" href="/borad/index">製作者紹介ページへ</a>
          <a class="link" href="/login">ログイン</a>
        </div>
      </div>
    </header>
    <%= yield %>
    <div style="clear:both;">

    </div>
    <footer id="help-footer-bottom">
      <div class="container">

      </div>
    </footer>
  </body>
</html>
